* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .caja-navbar {
  width: 90vw;
  margin: 1rem auto; }

header .navbar .container-fluid .navbar-brand img {
  height: 5rem; }

header .navbar .container-fluid .navbar-toggler {
  border: none; }
  header .navbar .container-fluid .navbar-toggler img {
    height: 5rem; }
  header .navbar .container-fluid .navbar-toggler:focus {
    box-shadow: none; }

header .navbar .container-fluid .collapse .navbar-nav li {
  padding: 1rem; }

header .navbar .container-fluid .collapse .navbar-nav a {
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  color: #b2b2b2;
  padding: 0 1rem; }
  header .navbar .container-fluid .collapse .navbar-nav a:hover {
    border-radius: 20px;
    background-color: #a6c83e;
    color: #575756; }
  header .navbar .container-fluid .collapse .navbar-nav a:active {
    border-radius: 20px;
    background-color: #00523d;
    color: #a6c83e; }

@media screen and (max-width: 480px) {
  header .caja-navbar {
    width: 95vw;
    margin: 0.5rem auto; }
  header .navbar .container-fluid .navbar-brand img {
    height: 3rem; }
  header .navbar .container-fluid .navbar-toggler {
    border: none; }
    header .navbar .container-fluid .navbar-toggler img {
      height: 3rem; }
  header .navbar .container-fluid .collapse .navbar-nav a {
    font-size: 0.8rem;
    color: #b2b2b2; } }

footer .caja-footer {
  margin-top: 2rem;
  width: 100vw;
  padding: 2rem;
  background-color: #575756; }

footer .flex-horFoo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5rem; }
  footer .flex-horFoo .caja18-foo {
    width: 18rem; }
    footer .flex-horFoo .caja18-foo .imgFoo {
      width: 100%; }
    footer .flex-horFoo .caja18-foo .imgFoo-redes {
      height: 4.3rem; }
    footer .flex-horFoo .caja18-foo .parrafoUno-SF-foo {
      width: 100%;
      color: #dadada;
      font-family: 'Manrope', sans-serif;
      font-size: 1.2rem; }
    footer .flex-horFoo .caja18-foo .tituloCuat-SF-foo {
      width: 100%;
      color: #dadada;
      font-family: 'Manrope', sans-serif;
      font-size: 1.5rem;
      padding: 0 0 1rem 0; }
    footer .flex-horFoo .caja18-foo .parrafoDos-SFb-foo {
      width: 100%;
      color: #dadada;
      font-family: 'Manrope', sans-serif;
      font-size: 1.2rem;
      font-weight: bold; }
    footer .flex-horFoo .caja18-foo .parrafoDos-SFl-foo {
      width: 100%;
      color: #dadada;
      font-family: 'Manrope', sans-serif;
      font-size: 1.2rem;
      font-weight: lighter; }
    footer .flex-horFoo .caja18-foo .navfooter li {
      list-style-type: none;
      padding-bottom: 2rem;
      text-align: justify; }
      footer .flex-horFoo .caja18-foo .navfooter li a {
        color: #dadada;
        font-size: 1.5rem; }
        footer .flex-horFoo .caja18-foo .navfooter li a:hover {
          color: #a6c83e; }
        footer .flex-horFoo .caja18-foo .navfooter li a:active {
          color: #dadada; }

@media screen and (max-width: 480px) {
  footer .caja-footer {
    margin-top: 1rem;
    padding: 1rem; }
  footer .flex-horFoo .caja18-foo .parrafoUno-SF-foo {
    font-size: 0.8rem;
    padding-top: 1rem; }
  footer .flex-horFoo .caja18-foo .tituloCuat-SF-foo {
    font-size: 1rem; }
  footer .flex-horFoo .caja18-foo .parrafoDos-SFb-foo {
    font-size: 1rem; }
  footer .flex-horFoo .caja18-foo .parrafoDos-SFl-foo {
    font-size: 0.8rem; }
  footer .flex-horFoo .caja18-foo .navfooter li {
    padding-bottom: 0.5rem; }
    footer .flex-horFoo .caja18-foo .navfooter li a {
      font-size: 1rem; } }

main .caja-slider {
  width: 75vw;
  margin: 1rem auto; }

main .tituloUno-SF-idx {
  width: 100%;
  color: #00523d;
  font-family: 'Manrope', sans-serif;
  font-size: 4rem;
  text-align: center;
  padding: 3rem 1rem; }

main .flex-horMat-idx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem; }
  main .flex-horMat-idx .caja24-idx {
    width: 24rem; }
  main .flex-horMat-idx .flex-verMat-idx {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }
    main .flex-horMat-idx .flex-verMat-idx a .imgMat {
      width: 100%;
      transition: all 1s; }
      main .flex-horMat-idx .flex-verMat-idx a .imgMat:hover {
        transform: scale(1.1); }
    main .flex-horMat-idx .flex-verMat-idx .tituloTres-SF-mat-idx {
      width: 100%;
      color: #00523d;
      font-family: 'Manrope', sans-serif;
      font-size: 2rem;
      text-align: center;
      padding: 2rem 0 1rem 0; }
    main .flex-horMat-idx .flex-verMat-idx .parrafo-S-mat {
      width: 100%;
      color: #b2b2b2;
      font-family: 'Kaisei Opti', serif;
      font-size: 1.2rem;
      text-align: justify;
      padding: 1rem; }

main .destacado-frase-idx {
  width: 100vw;
  padding: 8rem 2rem;
  background-color: #a6c83e; }
  main .destacado-frase-idx .tituloDos-S-fra {
    width: 100%;
    color: #00523d;
    font-family: 'Kaisei Opti', serif;
    font-size: 3rem;
    text-align: center; }
  main .destacado-frase-idx .tituloTres-S-fra {
    width: 100%;
    color: #00523d;
    font-family: 'Kaisei Opti', serif;
    font-size: 2rem;
    text-align: center; }

main .flex-verCnt-idx {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  main .flex-verCnt-idx .tituloUno-SF-cnt-idx {
    width: 100%;
    color: #00523d;
    font-family: 'Manrope', sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 3rem 1rem; }
  main .flex-verCnt-idx .caja55-idx {
    width: 55vw;
    margin-bottom: 2rem; }
    main .flex-verCnt-idx .caja55-idx .parrafo-S-cnt {
      width: 100%;
      color: #b2b2b2;
      font-family: 'Kaisei Opti', serif;
      font-size: 1.2rem;
      text-align: center; }
  main .flex-verCnt-idx .boton-cnt-idx a {
    text-decoration: none;
    width: 100%;
    color: #b2b2b2;
    font-family: 'Kaisei Opti', serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 2rem; }
    main .flex-verCnt-idx .boton-cnt-idx a:hover {
      background-color: #a6c83e;
      border-radius: 20px;
      color: #575756; }
    main .flex-verCnt-idx .boton-cnt-idx a:active {
      border-radius: 20px;
      background-color: #00523d;
      color: #a6c83e; }

@media screen and (max-width: 480px) {
  main .caja-slider {
    width: 95vw;
    margin: 0.5rem auto; }
  main .tituloUno-SF-idx {
    font-size: 2rem;
    padding: 0.5rem; }
  main .flex-horMat-idx .flex-verMat-idx .tituloTres-SF-mat-idx {
    font-size: 2rem;
    padding-top: 1rem; }
  main .flex-horMat-idx .flex-verMat-idx .parrafo-S-mat {
    font-size: 1rem;
    padding: 0.5; }
  main .destacado-frase-idx {
    padding: 1.5rem; }
    main .destacado-frase-idx .tituloDos-S-fra {
      font-size: 2rem; }
    main .destacado-frase-idx .tituloTres-S-fra {
      font-size: 1.5rem; }
  main .flex-verCnt-idx .tituloUno-SF-cnt-idx {
    font-size: 2rem;
    padding: 1rem; }
  main .flex-verCnt-idx .caja55-idx {
    width: 90vw;
    margin-bottom: 0; }
    main .flex-verCnt-idx .caja55-idx .parrafo-S-cnt {
      font-size: 1rem; } }

main .caja75-QSo {
  width: 75vw;
  margin: 1rem auto; }

main .flex-horTit-QSo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem; }
  main .flex-horTit-QSo .tituloDos-S-Tit-QSo {
    width: 100%;
    color: #00523d;
    font-family: 'Kaisei Opti', serif;
    font-size: 3rem;
    text-align: center; }
  main .flex-horTit-QSo .caja70-imgEqu {
    width: 70vw; }
    main .flex-horTit-QSo .caja70-imgEqu .img-equipo {
      width: 100%;
      margin: 1.5rem auto;
      transition: all 1s; }
      main .flex-horTit-QSo .caja70-imgEqu .img-equipo:hover {
        scale: 1.1; }
  main .flex-horTit-QSo .flex-horMisVis-QSo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem; }
    main .flex-horTit-QSo .flex-horMisVis-QSo .caja30-misVis-QSo {
      width: 30rem; }
    main .flex-horTit-QSo .flex-horMisVis-QSo .flex-verMisVis-QSo {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; }
      main .flex-horTit-QSo .flex-horMisVis-QSo .flex-verMisVis-QSo .tituloTres-SF-misVis {
        width: 100%;
        color: #00523d;
        font-family: 'Manrope', sans-serif;
        font-size: 2rem;
        text-align: center; }
      main .flex-horTit-QSo .flex-horMisVis-QSo .flex-verMisVis-QSo .parrafo-S-misVis {
        width: 100%;
        color: #b2b2b2;
        font-family: 'Kaisei Opti', serif;
        font-size: 1.2rem;
        text-align: justify;
        padding: 1rem; }

@media screen and (max-width: 480px) {
  main .caja75-QSo {
    width: 95vw;
    margin: 0.5rem auto; }
  main .flex-horTit-QSo .tituloDos-S-Tit-QSo {
    font-size: 2rem; }
  main .flex-horTit-QSo .caja70-imgEqu {
    width: 95vw; }
    main .flex-horTit-QSo .caja70-imgEqu .img-equipo {
      width: 100%;
      margin: 0.5rem auto; }
  main .flex-horTit-QSo .flex-horMisVis-QSo .caja30-misVis-QSo {
    width: 21rem; }
  main .flex-horTit-QSo .flex-horMisVis-QSo .flex-verMisVis-QSo .parrafo-S-misVis {
    font-size: 1rem; } }

main .destacado-tit-cnt {
  width: 100vw;
  padding: 4rem 1rem;
  background-color: #a6c83e; }
  main .destacado-tit-cnt .tituloTres-SF-cnt {
    width: 100%;
    color: #00523d;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    text-align: center; }

main .caja-form {
  width: 75vw;
  margin: 3rem auto; }
  main .caja-form .col-12 .boton_form {
    background-color: #a6c83e; }

main .destacado-cnt {
  width: 100vw;
  padding: 4rem 1rem 2rem 1rem;
  background-color: #ffff; }

main .grilla-cnt {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: repeat(4, 0.5fr);
  grid-template-areas: "t1 p1" "t2 p2" "t3 p3" "t4 p4"; }
  main .grilla-cnt .t1 {
    grid-area: t1; }
  main .grilla-cnt .t2 {
    grid-area: t2; }
  main .grilla-cnt .t3 {
    grid-area: t3; }
  main .grilla-cnt .t4 {
    grid-area: t4; }
  main .grilla-cnt .p1 {
    grid-area: p1; }
  main .grilla-cnt .p2 {
    grid-area: p2; }
  main .grilla-cnt .p3 {
    grid-area: p3; }
  main .grilla-cnt .p4 {
    grid-area: p4; }
  main .grilla-cnt .tituloTres-SF-cnt-cnt {
    width: 100%;
    color: #00523d;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    text-align: right; }
  main .grilla-cnt .parrafoDos-SFl-cnt {
    width: 100%;
    color: #b2b2b2;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: left; }

@media screen and (max-width: 480px) {
  main .destacado-tit-cnt {
    padding: 1rem; }
    main .destacado-tit-cnt .tituloTres-SF-cnt {
      font-size: 2rem; }
  main .destacado-cnt {
    width: 100vw;
    padding: 1rem; }
  main .grilla-cnt {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas: "t1"  "p1" "t2"  "p2" "t3"  "p3" "t4"  "p4"; }
    main .grilla-cnt .tituloTres-SF-cnt-cnt {
      font-size: 1rem;
      text-align: left; }
    main .grilla-cnt .parrafoDos-SFl-cnt {
      font-size: 1rem; } }

main .destacado-tit-pdu {
  width: 100vw;
  padding: 4rem 1rem;
  background-color: #a6c83e; }
  main .destacado-tit-pdu .tituloTres-SF-pdu {
    width: 100%;
    color: #00523d;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    text-align: center; }

main .flex-horPdu-pdu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem; }
  main .flex-horPdu-pdu .caja-pdu {
    border: solid 1px #a6c83e;
    transition: all 1s; }
    main .flex-horPdu-pdu .caja-pdu:hover {
      transform: scale(1.1); }
  main .flex-horPdu-pdu .card-fam-pdu {
    width: 20rem;
    margin-top: 2rem; }
    main .flex-horPdu-pdu .card-fam-pdu a .img-cards-fam-pdu {
      width: 100%; }
  main .flex-horPdu-pdu .flex-verFam-pdu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }
    main .flex-horPdu-pdu .flex-verFam-pdu .tituloTres-SF-cardfam-pdu {
      width: 100%;
      color: #00523d;
      font-family: 'Manrope', sans-serif;
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem; }

@media screen and (max-width: 480px) {
  main .destacado-tit-pdu {
    padding: 1rem; }
    main .destacado-tit-pdu .tituloTres-SF-pdu {
      font-size: 2rem; }
  main .flex-horPdu-pdu {
    column-gap: 1rem; }
    main .flex-horPdu-pdu .caja-pdu {
      margin: 1rem; } }

main .destacado-tit-ref {
  width: 100vw;
  padding: 4rem 1rem;
  background-color: #a6c83e; }
  main .destacado-tit-ref .tituloTres-SF-ref {
    width: 100%;
    color: #00523d;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    text-align: center; }

main .flex-ref-ref {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  main .flex-ref-ref .caja24-ref {
    width: 24rem;
    border: solid 1px #a6c83e;
    margin: 2rem;
    transition: all 1s; }
    main .flex-ref-ref .caja24-ref:hover {
      transform: scale(1.1); }
    main .flex-ref-ref .caja24-ref .img-ref {
      width: 100%; }
  main .flex-ref-ref .flex-info-ref {
    display: flex;
    flex-wrap: wrap; }
    main .flex-ref-ref .flex-info-ref .tituloTres-SF-info-ref {
      width: 100%;
      color: #00523d;
      font-family: 'Manrope', sans-serif;
      font-size: 1.5rem;
      text-align: left;
      padding: 1rem 1rem 0 1rem; }
    main .flex-ref-ref .flex-info-ref .parrafoDos-SFl-ref {
      width: 100%;
      color: #b2b2b2;
      font-family: 'Manrope', sans-serif;
      font-size: 1.3rem;
      font-weight: lighter;
      text-align: left;
      padding: 0rem 1rem; }

@media screen and (max-width: 480px) {
  main .destacado-tit-ref {
    padding: 1rem; }
    main .destacado-tit-ref .tituloTres-SF-ref {
      font-size: 2rem; }
  main .flex-ref-ref .caja24-ref {
    margin: 1rem; }
  main .flex-ref-ref .flex-info-ref .tituloTres-SF-info-ref {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem 0.5rem 0 0.5rem; }
  main .flex-ref-ref .flex-info-ref .parrafoDos-SFl-ref {
    font-size: 1rem;
    padding: 0rem 0.5rem; } }
