footer {
    .caja-footer {
        margin-top: 2rem;
        width: 100vw;
        padding: 2rem;
        background-color: $colGri1;
    }
    .flex-horFoo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 5rem;
        .caja18-foo {
            width: 18rem;
            .imgFoo {
                width: 100%;
            }
            .imgFoo-redes {
                height: 4.3rem;
            }
            .parrafoUno-SF-foo {
                width: 100%;
                color: $colGri4;
                font-family: 'Manrope', sans-serif;
                font-size: 1.2rem;
            }
            .tituloCuat-SF-foo {
                width: 100%;
                color: $colGri4;
                font-family: 'Manrope', sans-serif;
                font-size: 1.5rem;
                padding: 0 0 1rem 0;
            }
            .parrafoDos-SFb-foo {
                width: 100%;
                color: $colGri4;
                font-family: 'Manrope', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
            }
            .parrafoDos-SFl-foo {
                width: 100%;
                color: $colGri4;
                font-family: 'Manrope', sans-serif;
                font-size: 1.2rem;
                font-weight: lighter;
            }
            .navfooter {
                li {
                    list-style-type: none;
                    padding-bottom: 2rem;
                    text-align: justify;
                    a {
                        color: $colGri4;
                        font-size: 1.5rem;
                        &:hover {
                            color: $colVer2;
                        }
                        &:active {
                            color: $colGri4;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .caja-footer {
            margin-top: 1rem;
            padding: 1rem;
        }
        .flex-horFoo {
            .caja18-foo {
                .parrafoUno-SF-foo {
                    font-size: 0.8rem;
                    padding-top: 1rem;
                }
                .tituloCuat-SF-foo {
                    font-size: 1rem;
                }
                .parrafoDos-SFb-foo {
                    font-size: 1rem;
                }
                .parrafoDos-SFl-foo {
                    font-size: 0.8rem;
                }
                .navfooter {
                    li {
                        padding-bottom: 0.5rem;
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}