@import "var";
@import "navbar";
@import "footer";
@import "mainIndex";
@import "mainQuienessomos";
@import "mainContacto";
@import "mainProductos";
@import "mainRef";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}