@import "var";
@import "nav";
@import "foo";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    .caja-slider {
        width: 95vw;
        margin: 1rem auto;
    }
    .tituloUno-verde-SF {
        width: 100%;
        color: $colVer1;
        font-family: 'Manrope', sans-serif;
        font-size: 4rem;
        text-align: center;
        padding: 3rem 1rem;
    }
    .flex-horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4rem;
        .caja-24 {
            width: 24rem;
        }
        .flex-vertical {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            a {
                imagen {
                    width: 100%;
                }
            }
            .tituloTres-verde-SF {
                width: 100%;
                color: $colVer1;
                font-family: 'Manrope', sans-serif;
                font-size: 2rem;
                text-align: center;
                padding: 2rem 0 1rem 0;
            }
            .parrafoUno {
                width: 100%;
                color: $colGri3;
                font-family: 'Kaisei Opti', serif;
                font-size: 1.2rem;
                text-align: justify;
                padding: 1rem;
            }
        }
    }
    .destacado-verde {
        width: 100vw;
        padding: 8rem 2rem;
        background-color: $colVer2;
        .tituloDos-verde-S {
            width: 100%;
            color: $colVer1;
            font-family: 'Kaisei Opti', serif;
            font-size: 3rem;
            text-align: center;
        }
        .tituloTres-verde-S {
            width: 100%;
            color: $colVer1;
            font-family: 'Kaisei Opti', serif;
            font-size: 2rem;
            text-align: center;
        }
    }
    .flex-vertical {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .caja-55 {
            width: 55vw;
            margin-bottom: 2rem;
            .parrafoDos {
                width: 100%;
                color: #b2b2b2;
                font-family: 'Kaisei Opti', serif;
                font-size: 1.2rem;
                text-align: center;
            }
        }
        .boton {
            a {
                text-decoration: none;
                width: 100%;
                color: #b2b2b2;
                font-family: 'Kaisei Opti', serif;
                font-size: 1.2rem;
                text-align: center;
                padding: 0 2rem;
                &:hover {
                    background-color: #a6c83e;
                    border-radius: 20px;
                    color: #575756;
                }
                &:active {
                    border-radius: 20px;
                    background-color: #00523d;
                    color: #a6c83e;
                }
            }
        }
    }
    .caja-75-main {
        width: 75vw;
        margin: 1rem auto;
    }
    .flex-horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4rem;
        .tituloTres-verde-S-somos {
            width: 100%;
            color: #00523d;
            font-family: 'Kaisei Opti', serif;
            font-size: 2rem;
            text-align: center;
        }
        .caja-70 {
            width: 70vw;
            .imagen-equipo {
                width: 100%;
                margin: 1.5rem auto;
            }
        }
        .flex-horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4rem;
            .caja-24-somos {
                width: 24rem;
            }
            .flex-vertical {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                .tituloTres-verde-SF-somos {
                    width: 100%;
                    color: #00523d;
                    font-family: 'Manrope', sans-serif;
                    font-size: 2rem;
                    text-align: center;
                }
                .parrafoUno {
                    width: 100%;
                    color: #b2b2b2;
                    font-family: 'Kaisei Opti', serif;
                    font-size: 1.2rem;
                    text-align: justify;
                    padding: 1rem;
                }
            }
        }
    }
    .destacado-verde-contacto {
        width: 100vw;
        padding: 4rem 1rem;
        background-color: #a6c83e;
        .tituloTres-verde-SF-somos {
            width: 100%;
            color: #00523d;
            font-family: 'Manrope', sans-serif;
            font-size: 2rem;
            text-align: center;
        }
    .flex-horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4rem;
        .caja {
            border: solid 1px #a6c83e;
            }
        .flex-vertical {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            }
        .card-familias {
            width: 20rem;
            margin-top: 2rem;
            .imagen-cards { 
                width: 100%;
                }
            .tituloTres-verde-SF-card {
                width: 100%;
                color: #00523d;
                font-family: 'Manrope', sans-serif;
                font-size: 1.5rem;
                text-align: center;
                padding: 1rem;
                }
            }
        }
    }
    .destacado-verde-contacto {
        width: 100vw;
        padding: 4rem 1rem;
        background-color: #a6c83e;
        .tituloTres-verde-SF-somos {
            width: 100%;
            color: #00523d;
            font-family: 'Manrope', sans-serif;
            font-size: 2rem;
            text-align: center;
        }
    }
    .grilla {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 0.8fr 1fr;
        grid-template-rows: repeat(4, 0.5fr);
        grid-template-areas:
        "t1 p1"
        "t2 p2"
        "t3 p3"
        "t4 p4";
    }
    .destacado-blanco-contacto {
        width: 100vw;
        padding: 4rem 1rem 2rem 1rem;
        background-color: #ffff;
        .t1 {
            grid-area: t1;
        }
        .t2 {
            grid-area: t2;
        }
        .t3 {
            grid-area: t3;
        }
        .t4 {
            grid-area: t4;
        }
        .p1 {
            grid-area: p1;
        }
        .p2 {
            grid-area: p2;
        }
        .p3 {
            grid-area: p3;
        }
        .p4 {
            grid-area: p4;
        }
        .tituloTres-verde-SF-contacto {
            width: 100%;
            color: #00523d;
            font-family: 'Manrope', sans-serif;
            font-size: 1.5rem;
            text-align: right;
        }
        .parrafoDos-SF-contacto-light {
            width: 100%;
            color: #b2b2b2;
            font-family: 'Manrope', sans-serif;
            font-size: 1.5rem;
            font-weight: lighter;
            text-align: left;
        }
    }
}